# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
env/
venv/

# IDE files
.vscode/
.idea/

# Django specific
*.log
db.sqlite3
media/

# Environment variables
.env

# macOS / Windows system files
.DS_Store
Thumbs.db
